.WORK_SEARCH {
  height: 100%;
  padding: 15px 0;
  .home-head {
    border-bottom: 5px solid #d4ac76;
    h1 {
      margin-bottom: 10px;
      margin-left: 10px;
      font-size: 24px;
      color: #3c584d;
    }
  }
  .work-search-body {
    position: absolute;
    left: 0;
    top: 66px;
    bottom: 0;
    width: 90%;
    margin: 0 5%;

    .group-body {
      margin-top: 10px;

      li {
        position: relative;
        display: inline-block;
        width: 350px;
        margin: 10px 0 0 10px;
        border: 1px solid #ddd;
        iframe {
          border: none;
        }
        .cover-desc {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: #dddddd73;
          cursor: pointer;
          p {
            position: absolute;
            left: 10px;
            bottom: 10px;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }
}